*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  /* background-color: #000; */
  background: url("./Images/Masjid-ul-Haram-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  /* display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
}
.head{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
h1{
  font-size: 80px;
  color: #fff;
  text-align: center;
}
@media screen and (max-width : 488px) {
  h1{
    font-size: 40px;
  }
}
@media screen and (max-width : 329px) {
  h1{
    font-size: 35px;
  }
}
@media screen and (max-width : 300px) {
  h1{
    font-size: 29px;
  }
}

h4{
  background-color: #fff;
  color: #000;
  border-radius: 20px;
  padding: 20px;
  font-size: 20px;
}
div{
  /* padding: 20px; */
  margin: 10px;
}
div h2{
  margin: 10px;
  font-weight: bolder;
}
.container{
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  color: #fff;
  margin-top: 30px;
}
